body {
text-align: center;
}

img{
    height: 175px;
    width: 175px;
    margin: 15px
}

.thumbnail{
    background: rgba(255, 255, 255, 0.6);
   
}

row{
    text-align: center;
}

p{
    color: darkgreen;
    font-size: large;

}

h2{
    color: darkgreen;
}