body {
    background: url('images/cableknit.jpg')no-repeat center center;
    text-align: center;
}

img{
    height: 175px;
    width: 175px;
}

.thumbnail{
    background: rgba(255, 255, 255, 0.6);
    height: 250px;
    width: 250px;
}

row{
    text-align: center;
}