body {
    text-align: center;
    
    height: 1200px;

}

.jumbotron{
    background: none;

}

p.title {
    color: white;
    font-family: 'Great Vibes', cursive !important;
    font-size: 100px;
}

img{
    height: 350px;
    width: 320px;
}