<link href="~/Content/HomeStyle.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Forum|Great+Vibes|Nanum+Myeongjo" rel="stylesheet">


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/dobby.jpg" class="img-rounded" />
</div>

<div class="row">
        <p class="title">Dobby's Closet</p>
</div>