<link href="~/Content/HomeStyle.css" rel="stylesheet" />

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Content/images/dobby.jpg" class="img-rounded" />
</div>

<div class="row">
        <h1>Dobby's Closet</h1>
</div>